body {
    margin:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 242, 246);

}

main{
  box-sizing: border-box;
  margin: 0;
  padding: 0rem;
}
header,
nav,

footer {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

}


ul {
    display: flex;
    flex-wrap: wrap;
    color: #333;
    margin: 0.50rem;
    list-style-type:none;
    
  }
  

ul a {
    color: #a18665df;
    text-decoration: none;
    
  }
  
ul a:hover {
    background-color: #d8e1ee;
  }

  
  
ul a:focus {
    outline: 2px solid #d76a0b;
    outline-offset: 2px;
  }
  /*
ul a.current {
    background-color: #aecffa;
    color: #b18959df;

}
*/




H2{
    color: #ffffff;
    text-align: center;
    font-size:x-large ;
  }

p {
  text-align: center;
  font-size:x-large ;

}



section {
    background-color: rgb(231, 210, 182);
    border:1px solid rgb(84, 115, 128);
    padding: 1rem;
}

section.main {
  
    display: flex;
    flex-wrap: wrap; 
    max-width: 100%;
    background-color: rgb(94, 212, 16);
    border:1px solid rgb(54, 13, 84);
    border-radius: 0px;
    

}

.board {

  /*display: flex;
    flex-wrap: wrap;
    /* flex:1; */
    max-width: 100%;
    border:0px ;
    border-radius: 34px;
    padding: 0.1px;
}


.bio {
    background-color: rgb(30, 89, 142);
    flex: 1;
    max-width: 100%;
    border:67px ;
    border-radius: 2.5px;
    
    
}



details {
  color: #333;
  background: silver;
  display: inline-block;
  position: relative;

}



details > summary {
  list-style: none;
  padding: 0.5rem;
  cursor: pointer;

}

details > ul {

  display: none;
  position:absolute;
  background: white;
  border: 1px solid silver;
  padding: 0.5rem;
  
  

}

details[open] > ul {
  display:inline-block;


}






.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle input {
    display: contents;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFF;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #060;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  